<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.assessmen.mapper.pra.write.InquiryRecordWriteMapper">

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from inquiry_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.sicmed.assessmen.entity.InquiryRecord">
    <selectKey keyProperty="id" resultType="java.lang.String"
               order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into inquiry_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patient != null">
        patient,
      </if>
      <if test="patientArchive != null">
        patient_archive,
      </if>
      <if test="inquiryDescription != null">
        inquiry_description,
      </if>
      <if test="inquiryAnswer != null">
        inquiry_answer,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="recordType != null">
        record_type,
      </if>
      <if test="caution != null">
        caution,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteUser != null">
        delete_user,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patient != null">
        #{patient,jdbcType=VARCHAR},
      </if>
      <if test="patientArchive != null">
        #{patientArchive,jdbcType=VARCHAR},
      </if>
      <if test="inquiryDescription != null">
        #{inquiryDescription,jdbcType=VARCHAR},
      </if>
      <if test="inquiryAnswer != null">
        #{inquiryAnswer,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null">
        #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="caution != null">
        #{caution,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.assessmen.entity.InquiryRecord">
    update inquiry_record
    <set>
      <if test="patient != null">
        patient = #{patient,jdbcType=VARCHAR},
      </if>
      <if test="patientArchive != null">
        patient_archive = #{patientArchive,jdbcType=VARCHAR},
      </if>
      <if test="inquiryDescription != null">
        inquiry_description = #{inquiryDescription,jdbcType=VARCHAR},
      </if>
      <if test="inquiryAnswer != null">
        inquiry_answer = #{inquiryAnswer,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null">
        record_type = #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="caution != null">
        caution = #{caution,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        delete_user = #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>