<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.wallet.mapper.write.PaymentSignWriteMapper">
  <resultMap id="BaseResultMap" type="com.prostate.wallet.entity.PaymentSign">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="wallet_id" jdbcType="VARCHAR" property="walletId" />
    <result column="payment_password" jdbcType="VARCHAR" property="paymentPassword" />
    <result column="slat" jdbcType="VARCHAR" property="slat" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wallet_id, payment_password, slat, create_time, update_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from payment_sign
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.prostate.wallet.entity.PaymentSign">
    insert into payment_sign (id, wallet_id, payment_password, 
      slat, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{walletId,jdbcType=VARCHAR}, #{paymentPassword,jdbcType=VARCHAR}, 
      #{slat,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.prostate.wallet.entity.PaymentSign">
    insert into payment_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="walletId != null">
        wallet_id,
      </if>
      <if test="paymentPassword != null">
        payment_password,
      </if>
      <if test="slat != null">
        slat,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="walletId != null">
        #{walletId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPassword != null">
        #{paymentPassword,jdbcType=VARCHAR},
      </if>
      <if test="slat != null">
        #{slat,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.prostate.wallet.entity.PaymentSign">
    update payment_sign
    <set>
      <if test="walletId != null">
        wallet_id = #{walletId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPassword != null">
        payment_password = #{paymentPassword,jdbcType=VARCHAR},
      </if>
      <if test="slat != null">
        slat = #{slat,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prostate.wallet.entity.PaymentSign">
    update payment_sign
    set wallet_id = #{walletId,jdbcType=VARCHAR},
      payment_password = #{paymentPassword,jdbcType=VARCHAR},
      slat = #{slat,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>