<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.archive.mapper.slaver.MedicalReportReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.archive.entity.MedicalReport">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="report_url" jdbcType="VARCHAR" property="reportUrl" />
    <result column="report_type" jdbcType="VARCHAR" property="reportType" />
    <result column="report_group" jdbcType="VARCHAR" property="reportGroup" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="assay_time" jdbcType="TIMESTAMP" property="assayTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="selectUrlByParams" parameterType="com.sicmed.archive.entity.MedicalReport" resultType="java.lang.String">
    select
    report_url
    from medical_report
    <where>
      report_group = #{reportGroup,jdbcType=VARCHAR}
    </where>
  </select>
  <select id="selectByParams" parameterType="com.sicmed.archive.entity.MedicalReport" resultMap="BaseResultMap">
    select
    report_url,report_group,create_time
    from medical_report
    <where>
      patient_id = #{patientId,jdbcType=VARCHAR}
    </where>
  </select>

</mapper>