<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.record.mapper.master.PatientStickerWriteMapper">

  <delete id="deleteById" parameterType="java.lang.String">
    delete from patient_sticker
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.prostate.record.entity.PatientSticker">
    <selectKey keyProperty="id" resultType="java.lang.String"
               order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into patient_sticker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="stickerId != null">
        sticker_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="stickerId != null">
        #{stickerId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.prostate.record.entity.PatientSticker">
    update patient_sticker
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="stickerId != null">
        sticker_id = #{stickerId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>