<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.stata.mapper.slaver.DocketReadMapper">
  <resultMap id="BaseResultMap" type="com.prostate.stata.entity.Docket">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="docket_name" jdbcType="VARCHAR" property="docketName" />
    <result column="docket_value" jdbcType="VARCHAR" property="docketValue" />
    <result column="docket_type" jdbcType="VARCHAR" property="docketType" />
    <result column="docket_status" jdbcType="VARCHAR" property="docketStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, docket_name, docket_value, docket_type, docket_status, create_time, create_user
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_docket
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" parameterType="com.prostate.stata.entity.Docket" resultMap="BaseResultMap">
    select
    id, docket_name, docket_value
    from base_docket
    <where>
      docket_type = #{docketType,jdbcType=VARCHAR}
      AND docket_status = 'USABLE'
      AND (
      create_user is null
      <if test="createUser != null">
        OR create_user = #{createUser,jdbcType=VARCHAR}
      </if>
      )
    </where>
    ORDER BY create_time ASC
  </select>
  <select id="getByParam" parameterType="com.prostate.stata.entity.Docket" resultMap="BaseResultMap">
    select
    id
    from base_docket
    <where>
      docket_type = #{docketType,jdbcType=VARCHAR}
      AND docket_name = #{docketName,jdbcType=VARCHAR}
      AND docket_value = #{docketValue,jdbcType=VARCHAR}
      AND create_user = #{createUser,jdbcType=VARCHAR}
    </where>
  </select>

</mapper>